---
import LibraryIcon from '../icons/Library.astro';
---
<nav class="flex flex-col flex-1 gap-2"> 
    <div class="bg-zinc-900 roundend-lg pg-2">
        <ul>
            <LibraryIcon />
        </ul>
    </div>


</nav>
<LibraryIcon />