<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div id="app">
			<aside class="aside">
				AsideMenu
			</aside>
			<main class="main">MAIN</main>
			<footer class="player"></footer>
			<slot />
		</div>
	</body>
</html>

<style>
	#app {
		display: grid;
		grid-template-areas:
			"aside main"
			"player player";
		grid-template-columns: 220px 1fr;
		grid-template-rows: 1fr 80px;
		height: 100vh;
		width: 100vw;
		gap: 8px;
		background: #000;
	}
	.aside {
		grid-area: aside;
		background: #cce0ff;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		color: #222;
		font-weight: bold;
		align-items: center;
		justify-content: center;
	}
	.main {
		grid-area: main;
		background: #f8caca;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		color: #222;
	}
	.player {
		grid-area: player;
		background: #e2b48c;
		height: 80px;
	}
</style>
<style is: global>
	
	html,
	body {
		font-family: system ui, sans-serif;
		background: #ffeeee;
		margin: 0;
		padding: 0;
	}
